{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
{{ super() }} add category
{% endblock title %}


{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% end-for %}


<br><br>
<h1>Add new category</h1>
<br>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    {{ wtf.quick_form(form) }}
</div>

{% endblock content %}
